---
title: Contato
date: 2015-11-29 21:00:03
layout: contact
---
<h2>Entre em contato</h2>
<p>Deixe a sua mensagem e vamos pensar juntos a melhor forma de solucionar o seu problema.</p>
<!-- BEGIN FORM-->
<form action="#" role="form">
  <div class="form-group">
    <label for="contacts-name">Nome</label>
    <input type="text" class="form-control" id="contacts-name">
  </div>
  <div class="form-group">
    <label for="contacts-email">E-mail</label>
    <input type="email" class="form-control" id="contacts-email">
  </div>
  <div class="form-group">
    <label for="contacts-message">Mensagem</label>
    <textarea class="form-control" rows="5" id="contacts-message"></textarea>
  </div>
  <button type="submit" class="btn btn-primary"><i class="icon-ok"></i> Enviar</button>
  <button type="button" class="btn btn-default">Cancelar</button>
</form>
<!-- END FORM-->
