---
title: Sobre Nós
date: 2015-11-17 01:00:51
layout: page
---
<!-- BEGIN SIDEBAR & CONTENT -->
<div class="row margin-bottom-40">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row margin-bottom-30">
	<!-- BEGIN INFO BLOCK -->
	<div class="col-md-8">
    <h2 class="no-top-space">Missão</h2>
    <p>A <b>MN Estatística</b> tem por missão oferecer dados estatísticos com maior precisão e confiabilidade, que sejam úteis a sociedade como um todo, contribuindo por meio de resultados que apontem direções e viabilize soluções.</p>

	  <h2 class="no-top-space">Visão</h2>
	  <p>Buscar, aperfeiçoar e desenvolver métodos quantitativos e qualitativos que visam promover maior credibilidade e acesso as ferramentas e métodos estatísticos afim de alavancar e liderar o mercado, assessorando e servindo de apoio as áreas afins.</p>
    <p>Agregar conhecimento, buscar melhorias contínuas nos processos internos e externos, na qualidade dos serviços e em relação ao mercado no qual estamos inseridos.</p>

    <h2 class="no-top-space">Valores</h2>
	  <!-- BEGIN LISTS -->
	  <div class="row front-lists-v1">
	    <div class="col-md-6">
	      <ul class="list-unstyled margin-bottom-20">
		<li><i class="fa fa-check"></i> Ética </li>
		<li><i class="fa fa-check"></i> Credibilidade </li>
		<li><i class="fa fa-check"></i> Respeito </li>
	      </ul>
	    </div>
	    <div class="col-md-6">
	      <ul class="list-unstyled">
		<li><i class="fa fa-check"></i> Comprometimento </li>
		<li><i class="fa fa-check"></i> Excelência </li>
		<li><i class="fa fa-check"></i> Inovação </li>
	      </ul>
	    </div>
	  </div>
	  <!-- END LISTS -->
	</div>
	<!-- END INFO BLOCK -->


      </div>

      <div class="row front-team">
	<ul class="list-unstyled">
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/MN.png' style='width: 225px; height: 250px;'>
	      <h3>
		<strong>Márcio Nicolau</strong>
		<small>Estatístico</small>
	      </h3>
	      <p>Bacharel em estatística pela UNICAMP/SP com especialização em Melhoria de Processos <em>Lean Six Sigma</em> pela UNINTER. Possui 10 anos de experiência na área de pesquisa e estatística aplicada.</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="https://www.facebook.com/marcionicolau"></a></li>
		<li><a class="twitter" data-original-title="Twitter" href="https://twitter.com/marcionicolau"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="https://www.google.com/+MarcioNicolau"></a></li>
		<li><a class="linkedin" data-original-title="Linkedin" href="https://linkedin.com/in/marcionicolau"></a></li>
    <li><a class="github" data-original-title="GitHub" href="https://github.com/marcionicolau"></a></li>
	      </ul>
	    </div>
	  </li>
    <li class="col-md-2"></li>
	  <li class="col-md-3">
	    <div class="thumbnail">
              <img src='../metronic/assets/pages/img/people/CRP.png' style="width: 225px; height: 250px;">
	      <h3>
		<strong>Cláudia Pires</strong>
		<small>Marketing</small>
	      </h3>
	      <p>Técnica em Marketing com ênfase em Mídias Sociais. Possui experiência no controle de qualidade em pesquisas e gerenciamento de equipes.</p>
	      <ul class="social-icons social-icons-color">
		<li><a class="facebook" data-original-title="Facebook" href="https://www.facebook.com/claudia.pires.35"></a></li>
		<li><a class="googleplus" data-original-title="Goole Plus" href="https://plus.google.com/117827273429779240481"></a></li>
	      </ul>
	    </div>
	  </li>
	</ul>
      </div>

    </div>
  </div>
  <!-- END CONTENT -->
</div>
<!-- END SIDEBAR & CONTENT -->
